<header>
 <nav class="navbar navbar-expand-sm border-bottom" style="background-color: #884ffa;">


     <div class="container p-1">
          <!--NAVBAR-->
          <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
               <div class="container-fluid">
                    
                    <nav class="navbar bg-body-tertiary">
                         <div class="container">
                              <a class="navbar-brand">
                                   {{!-- Navbar Logo --}}
                                   <img src="https://banner2.cleanpng.com/20190131/vof/kisspng-game-controllers-vector-graphics-video-games-royal-gamepad-svg-png-icon-free-download-555526-onl-5c539eb0e9b581.8546253815489839849573.jpg" alt="contoller" width="36" height="30">
                              </a>
                         </div>
                    </nav>
                    {{!-- Navbar links --}}
                    <div class="collapse navbar-collapse" id="navbarNav">
                         <ul class="navbar-nav">
                              <li class="nav-item">
                                   <a class="nav-link active" aria-current="page" href="explore">Explore</a>
                              </li>
                              <li class="nav-item">
                                   <a class="nav-link" href="login">Login</a>
                              </li>
                         </ul>
                    </div>
               </div>
          </nav>
          
          {{!-- Logout Button --}}
          <div class="nav-item">
             <a class="nav-link" href="/logout">Logout</a>
          </div>
     </div>
      
 </nav>
</header>
